<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Management</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h1>Customer Management</h1>
    

    <div class="navigation">
        <a href="rooms.html">Rooms</a> |
        <a href="bookings.html">Bookings</a> |
        <a href="services.html">Services</a>
    </div>
    

    <div class="form-box">
        <h2 style="text-align: center;">Add Customer</h2>
        <form th:action="@{/addCustomer}" method="post">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required><br><br>
            
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required><br><br>
            
            <button type="submit">Add Customer</button>
        </form>
    </div>
    

    <h2 style="text-align: center;">List of Customers</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.phoneNumber}"></td>
                <td th:text="${customer.email}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
