<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>


<body>
    <h1>Bookings</h1>
    
    <div class="navigation">
        <a href="customers.html">Customers</a> |
        <a href="rooms.html">Rooms</a> |
        <a href="services.html">Services</a> |      
        <a href="bookings.html">Bookings</a> 
    </div>
    
    <div class="form-box">
        <h2 style="text-align: center;">Add Booking</h2>
        <form id="addBookingForm" th:action="@{/bookings}" method="post">
            <label for="customerId">Customer Id:</label>
            <input type="text" id="customerId" name="customerId" required><br><br>
            <label for="roomId">Room Id:</label>
            <input type="text" id="roomId" name="roomId"  required><br><br>
            <label for="startDate">Start Date:</label>
            <input type="text" id="startDate" name="startDate" required><br><br>
            <label for="endDate">End Date:</label>
            <input type="text" id="endDate" name="endDate" required><br><br>
            <button type="button" onclick="addBookingToList()">Add Booking</button>
        </form>
    </div>
    
    <div id="bookingListContainer">
        <h2 style="text-align: center;">List of Bookings</h2>
        <table id="bookingTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Customer Id</th>
                    <th>Room Id</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody id="bookingListBody">
            </tbody>
        </table>
    </div>

    <script>
        function addBookingToList() {
            var customerId = document.getElementById("customerId").value;
            var roomId = document.getElementById("roomId").value;
            var startDate = document.getElementById("startDate").value;
            var endDate = document.getElementById("endDate").value;

            var bookingListBody = document.getElementById("bookingListBody");
            var newRow = bookingListBody.insertRow();

            newRow.innerHTML = "<td></td><td>" + customerId + "</td><td>" + roomId + "</td><td>" + startDate + "</td><td>" + endDate + "</td>";
        }
    </script>
</body>
</html>
