<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Customers</h1>
    
    <div class="navigation">
		<a href="customers">Customers</a> |
        <a href="rooms">Rooms</a> |
        <a href="services">Services</a> |      
		<a href="bookings">Bookings</a> 
    </div>
    
    <div class="form-box">
        <h2 style="text-align: center;">Add Customer</h2>
        <form th:action="@{/customers}" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="cornelius" required><br><br>
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" id="phoneNumber" name="phoneNumber" placeholder="9051280931" required><br><br>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="jlikdon@gmail.com" required><br><br>
            <button type="submit">Add Customer</button>
        </form>
    </div>
    
    <h2 style="text-align: center;">List of Customers</h2>
    <table>
        <thead>
            <tr>
		<th>Id</th>
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="customer : ${customers}">
		<td th:text="${customer.id}"></td>
		<td th:text="${customer.name}"></td>
                <td th:text="${customer.phoneNumber}"></td>
                <td th:text="${customer.email}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
