<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <h1>Rooms</h1>
    
	<div class="navigation">
		<a href="customers">Customers</a> |
	    <a href="rooms">Rooms</a> |
	    <a href="services">Services</a> |      
		<a href="bookings">Bookings</a> 
	</div>
    
    <div class="form-box">
        <h2 style="text-align: center;">Add Room</h2>
        <form id="addRoomForm" th:action="@{/rooms}" method="post">
            <label for="roomNumber">Room Number:</label>
            <input type="text" id="roomNumber" name="roomNumber"  required><br><br>
            <label for="type">Room Type:</label>
            <input type="text" id="roomType" name="roomType"  required><br><br>
            <label for="price">Price:</label>
            <input type="text" id="price" name="price" required><br><br>
            <button type="submit" onclick="toggleRoomList()">Add Room</button>
        </form>
    </div>
    
    <div id="roomListContainer" style="display: none;">
        <h2 style="text-align: center;">List of Rooms</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Room Number</th>
                    <th>Type</th>
                    <th>Price</th>
                </tr>
            </thead>
        </table>
    </div>

    <script>
        function toggleRoomList() {
            var roomList = document.getElementById("roomListContainer");
            roomList.style.display = (roomList.style.display === "none") ? "block" : "none";
        }
    </script>
</body>
</html>
