<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <h1>Services</h1>
    
	<div class="navigation">
		<a href="customers">Customers</a> |
	    <a href="rooms">Rooms</a> |
	    <a href="services">Services</a> |      
		<a href="bookings">Bookings</a> 
	</div>
    
    <div class="form-box">
        <h2 style="text-align: center;">Add Service</h2>
        <form id="addServiceForm" th:action="@{/services}" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required><br><br>
            <label for="price">Price:</label>
            <input type="text" id="price" name="price" required><br><br>
            <button type="submit" onclick="toggleServiceList()">Add Service</button>
        </form>
    </div>
    
    <div id="serviceListContainer" style="display: none;">
        <h2 style="text-align: center;">List of Services</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>

        </table>
    </div>

    <script>
        function toggleServiceList() {
            var serviceList = document.getElementById("serviceListContainer");
            serviceList.style.display = (serviceList.style.display === "none") ? "block" : "none";
        }
    </script>
</body>
</html>
